@using Hw7.MyHtmlServices
@model Hw7.Models.ForTests.UnsupportedModel

@using (Html.BeginForm())
{
    @Html.MakeFormInputs()


    <button type="submit" class="btn btn-primary mt-2">Sign up</button>
}